html body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
background-color: #03346E;
}
.imageNameAndDesc{
background-image: linear-gradient(0deg, #021526 50%, #03346E 40%);
box-shadow: 0rem 15px 15px black;
}
.name{
margin-top: 14%;
}
header nav ul li a.active{
border-bottom-color:white ;
border-bottom-style:solid ;
border-width: 3px;
font-weight: bold;
animation: border_animation 1s   ease;
}

.aboutTitle{
    transition: .5s ease-in-out;
}

.aboutMeContent:hover .aboutTitle{
    text-shadow: 0px 0px 10px white;
    cursor: pointer;
}


.aboutMeContent:hover .line{
    box-shadow: 0px 0px 10px white;
    cursor: pointer;

}

header nav ul li a:hover{
font-weight: bold;
border-bottom-style:solid;
border-width: 3px;
}


@keyframes border_animation {
	0%{
		width: 30%;
	}
	100%{
		width: 100%;
	}
}
#letsStartBtn{
background-color: #6EACDA;
border-radius: 6px;
border-color: #6EACDA;
padding: 5px;
color: white;
transition: .5s ease;
text-decoration: none;
}
#seeProjectBtn{
border-radius: 6px;
padding: 5px;
border-color: #6EACDA;
transition: .5s ease;
color: #6EACDA;
}
#letsStartBtn:hover{
background-color: white;
color: #6EACDA;
}

#seeProjectBtn:hover{
background-color: #6EACDA;
color: white;
}
.contactIcon div{
background-color: #E2E2B6;
cursor: pointer;
color: white;
transition: .5s ease;
}
.contactIcon div:hover{
background-color: white;
cursor: pointer;
color: #E2E2B6;
}
.line{
border-bottom-width: 5px;
border-bottom-style:solid ;
border-bottom-color:white ;
transition: .5s ease-in-out;
}
.SkillsImage{
background-color: #6EACDA;
border: #6EACDA;
border-radius: 10px;
box-shadow: 20px 20px 15px black;
position: relative;
}
.color:hover{
background-color: #E2E2B6;
}
.SkillsImage{
position: relative;
}
.layer{
transition: .5s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
}
.SkillsImage:hover .image{
opacity: 0.3;
}
.SkillsImage:hover .layer {
opacity: 1;
}
.shortDescOfSkills {
color: white;
font-size: 16px;
padding: 16px 32px;
}
.seeMorePortfolioBtn{
background-color: #6EACDA;
border-color: #6EACDA;
border-radius: 6px;
color: white;
transition: .20s ease-out;
}
.seeMorePortfolioBtn:hover{
text-decoration: underline;
transition: .20s ease-in;
background-color: white;
color: #6EACDA;
border-color: white;
box-shadow:5px 5px #6EACDA;
}
.expSection{
background-color: #021526;
}
.expYearBorder{
background-color: #03346E;
border-color: #03346E;
}
.leftArrow{
width: 0;
height: 0;
border-top: 13px solid transparent;
border-bottom: 12px solid transparent;
border-left:10px solid #03346E;
}
.circelBorderForExp{
border-radius: 50%;
border-color: #E2E2B6;
background-color: #E2E2B6;
padding-left: 55px;
padding-top: 25px;
box-shadow: 0px 0px 5px #E2E2B6;
transition: .5s ease-in-out;
}
.stratLineContactMe{
border-top: 10px solid #E2E2B6;
}
.stratLineContactEnd{
border-top: 10px solid #E2E2B6;
}
.contentUnderLine{
border-top: 10px solid #E2E2B6;
}
.contactDitailes{
border:1px solid #6EACDA;
background-color: #6EACDA;
border-radius: 6px;
color:white;
cursor: pointer;
transition: .5s ease-in-out;

}

/* .aboutMeContent{
box-shadow:10px 10px 10px #E2E2B6;
} */
.contactDitailes:hover {
    background-color: rgb(26,26,26, 0.6);
    backdrop-filter: blur(80px);
    border-color: rgb(26,26,26, 0.6);
    box-shadow: 0px 0px 50px white;
}
.exp:hover .circelBorderForExp{
    box-shadow: 0px 0px 50px #E2E2B6;
    transition: .5s ease-in-out;
}
