body{
background-color: #03346E;
}
.imageNameAndDesc{
background-image: linear-gradient(0deg, #021526 50%, #03346E 40%);
box-shadow: 0rem 15px 15px black;

}
.name{
margin-top: 14%;
}

header nav ul li a.active{
border-bottom-color:white ;
border-bottom-style:solid ;
border-width: 2px;
font-weight: bold;
}

header nav ul li a:hover{
font-weight: bold;
border-bottom-style:solid;
border-width: 2px;
}

#letsStartBtn{
background-color: #6EACDA;
border-radius: 6px;
border-color: #6EACDA;
padding: 5px;
color: white;
}

#seeProjectBtn{
border-radius: 6px;
padding: 5px;
border-color: #6EACDA;
color:#6EACDA;
}

#letsStartBtn:hover{
background-color: white;
color: #6EACDA;
}

#seeProjectBtn:hover{
background-color: #6EACDA;
color: white;
}

.contactIcon div{
background-color: #E2E2B6;
cursor: pointer;
color: white;
}



.contactIcon div:hover{
background-color: white;
cursor: pointer;
color: #E2E2B6;
}

.line{
border-bottom-width: 5px;
border-bottom-style:solid ;
border-bottom-color:white ;
}

.SkillsImage{
background-color: #6EACDA;
border: #6EACDA;
border-radius: 10px;
box-shadow: 20px 20px 15px black;
position: relative;
}


.containor{
    position: relative !important;
}
.color:hover{
background-color: #E2E2B6;
}

.imageSkillsDesc{
    position: absolute !important;
    display:grid;
    justify-content: center;
    align-items: center;
    z-index: 4;
    background-color: black;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.SkillsImage:hover .imageSkillsDesc{
box-shadow: 10px 20px 20px rgba(0,0,0,0.3);
opacity: 0.3;
transform: scale(1.1, 1.1);

}